img {
    height: 90px;
}

nav {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    align-items: center;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

h1 {
    border: 8px groove yellow;
    background-color: yellow;
    border-radius: 25% 10%;
    margin: 50px;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

.button {
    margin: 50px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    border-radius: 10px;
    background-color: rgb(255, 221, 221);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
    background-color: yellow;
}

.button:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background-color: yellow;
    padding: 25px;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.bouton {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
html {background-color: #000000;}